<template>
  <div class="trades-ativo">
    <div class="row list-items-box">
    </div>
    <div class="row list-items-box" v-for="(trade, index) in trades" :key="index">
      <div class="col">
        <div class="row">
          <div class="col">
            <span class="text-bold trade-head">
              {{ trade.data}}
            </span>
          </div>
          <div class="col">
            <span class="text-bold" :style="{ color: trade.tp_trans_color }">{{ trade.tp_trans }}</span>
          </div>
          <div class="col" style="text-align: right;">
            <span class="text-bold trade-head">{{ trade.carteira }}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col">
                Qtde:
              </div>
              <div class="col col-trade-values">
                <span class="text-bold trade-values">{{ trade.qtde }}</span>
              </div>
            </div>
            <div class="row">
              <div class="col">
                Preço Ativo:
              </div>
              <div class="col col-trade-values">
                <span class="text-bold trade-values">{{ trade.preco_ativo }}</span>
              </div>
            </div>
            <div class="row">
              <div class="col">
                Total:
              </div>
              <div class="col col-trade-values">
                <span class="text-bold trade-values" :style="{ color: trade.tp_trans_color }">{{ trade.total }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<style scoped>
  .trade-head{
    color: rgb(100,100,100);
    font-size: 14px;
  }
  .col-trade-values{
    text-align: right;
  }
  .trade-values{
    color: rgb(60,60,60);
  }
  .trade-head-size{
    font-size: 14px;
  }
  .v-align{
    margin-top: auto;
    margin-bottom: auto;
  }
  .trades-ativo{
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 60px;
    background-color: rgb(255,255,255);
    box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
  }
</style>

<script>
import http from '@/services/http.js';

function dateFormat(date){
  const newDate = new Date(date);
  var options = { year: 'numeric', month: '2-digit', day: '2-digit' };
  return newDate.toLocaleDateString('pt-br', options) + " - " + newDate.toLocaleTimeString('pt-br');
}

export default {
  name: 'ativoTrades',
  data(){
    return {
      trades : []
    }
  },
  props:{
    ativoId: String,
  },
  async created() {
    await this.getTradesByAtivo();
  },
  methods: {
    async getTradesByAtivo (){
      try{
        const axiosInstance = http(this);
        const response = await axiosInstance.get('/api/trades/findByAtivo', { params: { ativoId: this.ativoId }});
        console.log(response.data);
        const allTrades = response.data;
        //formatCurrencies disponivel em src/global/functions
        allTrades.forEach(element => {
          const trade = {
            id: element.id,
            data : dateFormat(element.data),
            ativo : element.ativo,
            logo : element.logo,
            carteira : element.carteira,
            tp_trans : element.tp_trans == 'b'? 'Compra' : 'Venda',
            tp_trans_color : element.tp_trans == 'b'? 'rgb(171, 37, 42)' : 'rgb(45, 169, 42)',
            qtde: element.qtde,
            preco_ativo : this.formatCurrencies('USD', element.preco_ativo),
            total : this.formatCurrencies('USD', Math.abs(element.valor))
          };
          this.trades.push(trade);
        });
      }catch (error){
        console.log(error);
      }
    }
  }
}
</script>
