<template>
  <div class="tweets-box">
    <span>Ultimos Tweets do projeto: {{ nome }} </span>
    <div class="row" v-for="(tweet, index) in tweets" :key="index">
      <a :href="tweet.url" target="_blank">
        <div class="tweet-box">
          <div class="tweet-data">
            <span>{{ this.formatDate(tweet.created_at) }}</span>
          </div>
          <div>
            <span>{{ tweet.text }}</span>
          </div>
        </div>
      </a>
    </div>

  </div>
</template>

<script>
import http from '@/services/http.js';

export default{
  name: 'AtivoTweets',
  data(){
    return {
      tweets : []
    }
  },
  props:{
    id: String,
    nome: String
  },
  async created(){
    const axiosInstance = http(this);
    const getTweets = await axiosInstance.get('/api/ativo/getTweets', { params: { id : this.id}});
    this.tweets = getTweets.data;
  },
  methods:{
    formatDate(tweetDate){
      const data = new Date(tweetDate);
      return data.toLocaleString();
    }
  }
}
</script>

<style scoped>
.tweet-data{
  text-align: right;
  font-family: 'Arial';
  font-size: 12px;
  color: rgb(100,100,100);
}
.tweets-box{
  position: relative;
  padding: 25px;
  margin-top: 60px;
  background-color: rgb(255,255,255);
  box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
}
.tweet-box{
  position: relative;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  border: 1px solid rgb(200,200,200);
  width: 100%;

  border-radius: 5px;
}
a{
  font-family: 'Courier New', Courier, monospace;
  color: darkblue;
  text-decoration:none
}
</style>