<template>
  <div class="grafico-ativo">
    <div class="tradingview-widget-container">
      <div id="tradingViewGraphs"></div>
      <div class="tradingview-widget-copyright">
        Gráfico por:
        <a href="https://br.tradingview.com/" rel="noopener" target="_blank">
          <span class="blue-text">TradingView</span>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default{
  name: 'AtivoGrafico',
  props:{
    symbol: String
  },
  mounted(){
    this.loadGraph();
  },
  methods:{
    loadGraph(){
      new TradingView.widget({
        "width": 980,
        "height": 610,
        "symbol": this.symbol+"USDT",
        "interval": "D",
        "timezone": "America/Sao_Paulo",
        "theme": "dark",
        "style": "1",
        "locale": "br",
        "toolbar_bg": "#f1f3f6",
        "enable_publishing": false,
        "hide_side_toolbar": false,
        "allow_symbol_change": true,
        "studies": [
          "MAExp@tv-basicstudies"
        ],
        "container_id": "tradingViewGraphs"
      });
    }
  }
}
</script>

<style>
.grafico-ativo{
  position: relative;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 60px;
  background-color: rgb(255,255,255);
  box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
}
#tradingViewGraphs > div > div  {
  width: 100% !important;
}
#tradingViewGraphs > div   {
  width: 100% !important;
}

</style>