<template>
  <div>
    <div class="row list-items-box" v-for="(ativo, index) in ativos" :key="index">
      <div class="col-2" style="padding-top: 15px;">
        <router-link :to="{ name : 'AtivoDetalhe', params: { id: ativo.id,  symbol: ativo.codigo, nome: ativo.nome }}">
          <img :src="ativo.logo" style="width: 30px"/>
        </router-link>
      </div>
      <div class="col-8">
        <div class="row">
          <span class="text-bold ativo-head">
            {{ ativo.nome }} - {{ ativo.codigo }}
          </span>
        </div>
        <div class="row">
          <div class="col-5">
            Market Cap:
          </div>
          <div class="col-7 ativo-values">
            <span class="text-bold">{{ formatMarketCap(ativo.marketCap) }}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            Cotação:
          </div>
          <div class="col-7 ativo-values">
            <span class="text-bold">{{ formatCurrencies('USD',ativo.preco) }}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            Stop Loss:
          </div>
          <div class="col-7 ativo-values">
            <span class="text-bold ">{{ formatCurrencies('USD',ativo.stopLoss) }}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            Alvo:
          </div>
          <div class="col-7 ativo-values">
            <span class="text-bold">{{ formatCurrencies('USD',ativo.alvo) }}</span>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="row icones">
          <a href="#" @click="editAtivo(ativo.id)">
            <img src="../../assets/img/edit_icon.png" style="width: 30px"/>
          </a>
        </div>
        <div class="row icones">
          <a href="#" @click="delAtivo(ativo.id)">
            <img src="../../assets/img/delete_icon.png" style="width: 30px"/>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
  .ativo-head{
    color: rgb(100,100,100);
    font-size: 14px;
  }
  .ativo-values{
    text-align: right;
    color: rgb(60,60,60);
  }
  .icones{
    padding: 3px;
    text-align: right;
  }
</style>

<script>
import http from '@/services/http.js';

export default {
  name: 'ativosList',
  data(){
    return {
      ativos : []
    }
  },
  async created() {
    await this.getAllAtivos();
  },
  methods: {
    async getAllAtivos (){
      const axiosInstance = http(this);
      const response = await axiosInstance.get('/api/ativo/listAll');
      const allAtivos = response.data;
      allAtivos.forEach(element => {
        this.ativos.push(element);
      });
    },
    async delAtivo(id){
      const axiosInstance = http(this);
      const deleteObj = JSON.parse(`{ "id" : ${id} }` );
      axiosInstance.delete("/api/ativo", { data: deleteObj })
      .then( resp => {
        switch (resp.data){
          case "ok":{
            alert("Ativo removido com sucesso!");
            this.$router.go();
            break;
          }
        }
      })
      .catch( error => {
        switch (error.response.data.error){
          case "ForeignKey": {
            alert("O ativo não pode ser removido pois existem operações atreladas à ele");
            this.$router.go()
            break;
          }
          case "error": {
            alert("Erro ao remover o ativo!");
            this.$router.go()
            break;
          }
          default:{
            alert("Erro desconhecido!");
            this.$router.go()
          }
        }
      });
    },
    editAtivo(id){
      var ativoSelecionado = this.ativos.filter(ativo => {
        return ativo.id === id
      });
      this.$emit('ativo',ativoSelecionado[0]);
    }
  }
}
</script>
