<template>
  <div class="baseForms">
    <form role="form" v-on:submit.prevent="save()">
      <div class="row">
        <div class="col-md-1" v-if="formData.logo.length > 0">
          <img :src="formData.logo" style="height: 30px;">
        </div>
        <div class="col-md-2">
          <input id="codigo" v-model="codigo" class="form-control form-control-sm" placeholder="Código do Ativo"  type="text"/>
        </div>
        <div class="col-md-4">
          <button class="btn btn-info btn_buscar" type="button" @click="buscarAtivoCMC" v-if="!loadingComp">Buscar</button>
          <img src="../../assets/img/loading.gif" style="height: 30px;" v-if="loadingComp"/>
        </div>
      </div>

      <div class="row" v-if="ativos.length > 1">
        Selecione um ativo:
        <div class="row"
             style="cursor: pointer;"
             v-for="(ativo, index) in ativos"
             :key="index"
             @click="loadAtivo(ativo.id)"
          >
          <div class="col-md-4">
            <img :src="ativo.logo" style="height: 30px;">
            - {{ativo.nome}}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1">
          <label for="id">Id:</label>
          <input id="id" v-model="formData.id" class="form-control form-control-sm"  type="text" readonly/>
        </div>
        <div class="col-md-4">
          <label for="nome">Nome:</label>
          <input id="nome" v-model="formData.nome" class="form-control form-control-sm"  type="text" readonly/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <label for="stopLoss">Stop Loss:</label>
          <input id="stopLoss" v-model="formData.stopLoss" class="form-control form-control-sm"  type="number" step="0.00000001"/>
        </div>
        <div class="col-md-2">
          <label for="alvo">Alvo:</label>
          <input id="alvo" v-model="formData.alvo" class="form-control form-control-sm"  type="number" step="0.00000001"/>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Salvar</button>
      </div>
    </form>
    <div>
      <AtivosList @ativo="getAtivo"/>
    </div>
  </div>
</template>

<script>
import http from '@/services/http.js';

export default {
  name: 'AtivoForm',
  components:{
    'AtivosList': require('./ativosList.vue').default
  },
  data() {
    return {
      ativos: [],
      loading: false,
      formData : {
        id: 0,
        codigo: '',
        nome: '',
        preco: 0,
        logo: '',
        stopLoss: 0,
        alvo: 0
      },
      operacao: 'create'
    }
  },
  computed: {
    loadingComp: {
      get(){
        return this.loading;
      }
    },
    codigo : {
      get(){
        return this.formData.codigo;
      },
      set(codigo){
        this.formData.codigo = codigo;
      }
    }
  },
  methods:{
    save(){
      const axiosInstance = http(this);
      switch (this.operacao) {
        case "create": {
          axiosInstance.post('/api/ativo', this.formData)
          .then( resp => {
            if (resp.data == "ok"){
              alert("Dados salvos com sucesso!");
              this.$router.go();
            }else{
              alert("Erro ao salvar os dados");
              this.$router.go();
            }
          });
          break;
        }
        case "update": {
          axiosInstance.patch('/api/ativo', this.formData)
          .then( resp => {
            if (resp.data == "ok"){
              alert("Dados salvos com sucesso!");
              this.$router.go();
            }else{
              alert("Erro ao salvar os dados");
              this.$router.go();
            }
          });
          break;
        }
      }
    },
    loadAtivo(id){
      var ativoSelecionado = this.ativos.filter(ativo => {
        return ativo.id === id
      });

      this.formData.id = ativoSelecionado[0].id;
      this.formData.nome = ativoSelecionado[0].nome;
      this.formData.logo = ativoSelecionado[0].logo;
      this.ativos = [];
    },
    async buscarAtivoCMC(){
      this.loading = true;
      const axiosInstance = http(this);
      const resp = await axiosInstance.post('/api/ativo/getDataBySymbol', {codigo: this.codigo});
      this.ativos = resp.data;
      if (this.ativos.length === 1){
        this.formData.id = this.ativos[0].id;
        this.formData.nome = this.ativos[0].nome;
        this.formData.logo = this.ativos[0].logo;
        this.formData.twitter = this.ativos[0].twitter[0];
      }
      this.loading = false;
    },
    //Método "emitido" na função editar em ativosList.vue
    getAtivo(ativo){
      this.formData = ativo;
      this.operacao = "update";
    }
  }

}
</script>

<style scoped>
#codigo{
  margin-bottom: 3px;
}
.btn_buscar{
  height: 32px;
  padding-top: 4px;
}
</style>