<template>
  <div class="baseForms">
    <form role="form" v-on:submit.prevent="save()">
      <div class="row">
        <div class="col-md-4">
          <label for="ativo">Ativo:</label>
          <select id="ativo" v-model="formData.AtivoId" class="form-control form-select form-select-sm" required>
            <option v-for="ativo in ativos" :key="ativo.id" :value="ativo.id" >
              {{ ativo.codigo }} - {{ ativo.nome }}
            </option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="carteira">Carteira/Corretora:</label>
          <select id="carteira" v-model="formData.CarteiraId" class="form-control form-select form-select-sm" required>
            <option v-for="carteira in carteiras" :key="carteira.id" :value="carteira.id" >
              {{ carteira.nome }}
            </option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="tp_trans">Operação:</label>
          <select id="tp_trans" v-model="formData.tp_trans" class="form-select form-select-sm"  required>
            <option value="b">Compra</option>
            <option value="s">Venda</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="qtde">Quantdade:</label>
          <input id="qtde" v-model="formData.qtde" class="form-control form-control-sm"  type="number" step="0.00000001" required/>
        </div>
        <div class="col-md-4">
          <label for="preco">Preço:</label>
          <input id="preco" v-model="formData.preco_ativo" class="form-control form-control-sm"  type="number" step="0.00000001" required/>
        </div>
        <div class="col-md-4">
          <label for="valor">Total da Transação:</label>
          <input id="valor" v-model="valor" class="form-control form-control-sm"  type="number" step="0.00000001" required readonly/>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Salvar</button>
      </div>
    </form>
    <div>
      <TradesList/>
    </div>
  </div>
</template>

<script>
import http from '@/services/http.js';

export default {
  name: 'TradeForm',
  components:{
    'TradesList': require('./tradesList.vue').default
  },
  data() {
    return {
      ativos : [],
      carteiras : [],
      formData : {
        AtivoId : '',
        CarteiraId : '',
        tp_trans: '',
        qtde: 0,
        preco_ativo: 0,
        valor: 0
      }
    }
  },
  computed: {
    valor : {
      get(){
        return this.formData.qtde * this.formData.preco_ativo
      }
    }
  },
  methods:{
    save(){
      const axiosInstance = http(this);
      this.formData.valor = this.valor;
      axiosInstance.post("/api/trades", this.formData)
      .then( resp => {
        if (resp.data == "ok"){
          alert("Dados salvos com sucesso!");
          this.$router.go()
        }else{
          alert("Erro ao salvar os dados");
          this.$router.go()
        }
      });
    }
  },
  async created(){
    const axiosInstance = http(this);
    const ativos = await axiosInstance.get("/api/ativo/listAll");
    const carteiras = await axiosInstance.get("/api/carteira/listAllIdName");

    this.ativos = ativos.data;
    this.carteiras = carteiras.data;
  }

}
</script>
