<template>

  <div>
    <div class="row list-items-box" v-for="(trade, index) in trades" :key="index">
      <div class="col-2" style="padding-top: 15px;">
        <img :src="trade.logo" style="width: 30px"/>
      </div>
      <div class="col-10">
        <div class="row">
          <div class="col-9">
            <span class="text-bold trade-head">
              {{ trade.data}}
            </span>
          </div>
          <div class="col-3" style="text-align: right;">
            <span class="text-bold trade-head">{{ trade.carteira }}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-9 text-bold trade-head">{{ trade.codigo }} - {{ trade.ativo }}</div>
          <div class="col-3" style="text-align: right;">
            <span class="text-bold" :style="{ color: trade.tp_trans_color }">{{ trade.tp_trans }}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <div class="row">
              <div class="col">
                Qtde:
              </div>
              <div class="col col-trade-values">
                <span class="text-bold trade-values">{{ trade.qtde }}</span>
              </div>
            </div>
            <div class="row">
              <div class="col">
                Preço Ativo:
              </div>
              <div class="col col-trade-values">
                <span class="text-bold trade-values">{{ trade.preco_ativo }}</span>
              </div>
            </div>
            <div class="row">
              <div class="col">
                Total:
              </div>
              <div class="col col-trade-values">
                <span class="text-bold trade-values" :style="{ color: trade.tp_trans_color }">{{ trade.total }}</span>
              </div>
            </div>
          </div>
          <div class="col-2 v-align" style="text-align: right;">
            <a href="#" @click="delTrade(trade.id)">
              <img src="../../assets/img/delete_icon.png" style="width: 30px"/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<style scoped>
  .trade-head{
    color: rgb(100,100,100);
    font-size: 12px;
  }
  .col-trade-values{
    text-align: right;
  }
  .trade-values{
    color: rgb(60,60,60);
  }
  .trade-head-size{
    font-size: 14px;
  }
  .v-align{
    margin-top: auto;
    margin-bottom: auto;
  }
</style>

<script>
import http from '@/services/http.js';

function dateFormat(date){
  const newDate = new Date(date);
  var options = { year: 'numeric', month: '2-digit', day: '2-digit' };
  return newDate.toLocaleDateString('pt-br', options) + " - " + newDate.toLocaleTimeString('pt-br');
}

export default {
  name: 'tradesList',
  data(){
    return {
      trades : []
    }
  },
  async created() {
    await this.getAllTrades();
  },
  methods: {
    async getAllTrades (){
      const axiosInstance = http(this);
      const response = await axiosInstance.get('/api/trades/findAll');
      const allTrades = response.data[0];
      //formatCurrencies disponivel em src/global/functions
      allTrades.forEach(element => {
        const trade = {
          id: element.id,
          data : dateFormat(element.data),
          ativo : element.ativo,
          logo : element.logo,
          codigo : element.codigo,
          carteira : element.carteira,
          tp_trans : element.tp_trans == 'b'? 'Compra' : 'Venda',
          tp_trans_color : element.tp_trans == 'b'? 'rgb(171, 37, 42)' : 'rgb(45, 169, 42)',
          qtde: element.qtde,
          preco_ativo : this.formatCurrencies('USD', element.preco_ativo),
          total : this.formatCurrencies('USD', Math.abs(element.valor))
        };
        this.trades.push(trade);
      });
    },
    async delTrade(id){
      const axiosInstance = http(this);
      const deleteObj = JSON.parse(`{ "id" : ${id} }`);
      axiosInstance.delete("/api/trades", { data : deleteObj} )
      .then( resp => {
        if (resp.data == "ok"){
          alert("Trade removido com sucesso!");
          this.$router.go()
        }else{
          alert("Erro ao remover o trade");
          this.$router.go()
        }
      });
    }
  }
}
</script>
