<template>
  <div>
    <Navigation/>
    <div class="main_container">
      <AtivoForm/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Ativos',
  components: {
    'Navigation': require('../components/navigation/navigation.vue').default,
    'AtivoForm': require('../components/ativos/ativoForm.vue').default
  }
}
</script>

