<template>
  <div>
    <Navigation/>
    <div class="content-container">
      <div class="row row-width">
        <div class="col-sm-7">
          <AtivoGrafico :symbol="symbol"/>
        </div>
        <div class="col-sm-5">
          <AtioTrades :ativoId="id"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name : 'AtivoDetalhe',
  components: {
    'Navigation' : require('../components/navigation/navigation.vue').default,
    //'AtivoTweets' : require('../components/ativos/ativoTweets.vue').default,
    'AtioTrades' : require('../components/ativos/ativoTrades.vue').default,
    'AtivoGrafico' : require('../components/ativos/ativoGrafico.vue').default
  },
  data(){
    return{
      id : '',
      symbol : '',
      nome : ''
    }
  },
  created(){
    this.id = this.$route.params.id;
    this.symbol = this.$route.params.symbol;
    this.nome = this.$route.params.nome;
  },

}
</script>

<style scoped>
.row-width{
  margin-left: 2%;
  width: 95%;
}

.content-container{
  margin-bottom: 300px;
}
</style>
