<template>
  <div>
    <Navigation/>
    <div class="row graph-container">
      <div class="col">
        <DistribuicaoAtivos :options="graphOptions"/>
      </div>
    </div>
    <div class="row graph-container">
      <div class="col">
        <AtivosVsDolar :options="graphOptions"/>
      </div>
    </div>
    <div class="row graph-container">
      <div class="col">
        <ListPositions/>
      </div>
    </div>
  </div>
</template>

<script>
export default{
  name : 'AtivosPosicao',
  components: {
    'Navigation' : require('../components/navigation/navigation.vue').default,
    'DistribuicaoAtivos': require('../components/charts/distribuicaoAtivos.vue').default,
    'AtivosVsDolar': require('../components/charts/atiosVsDolar.vue').default,
    'ListPositions': require('../components/charts/listPositions.vue').default
  },
  data(){
    return {
      graphOptions: {
        plugins: {
          title: {
            display: true,
            font:{
              size: '18px'
            }
          },
          legend: {
            display: false
          },
          tooltip: {
            enabled: true
          }
        }
      }
    }
  }
}
</script>

<style scoped>
  .main_container{
    margin-top: 70px;
    margin-left: 5%;
    margin-bottom: 200px;
    width: 95%;
  }
</style>
