<template>
  <div>
    <Navigation/>
    <div class="main_container">
      <CarteiraForm/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Carteiras',
  components: {
    'Navigation': require('../components/navigation/navigation.vue').default,
    'CarteiraForm': require('../components/carteiras/carteiraForm.vue').default
  }
}
</script>

