<template>
  <div>
    <Navigation/>
    <div class="main_container">
      <Overview/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Home',
  components: {
    'Navigation': require('../components/navigation/navigation.vue').default,
    'Overview': require('../components/overview/overview.vue').default
  }
}
</script>
<style scoped>
.main_container{
  margin-bottom: 200px;
}
</style>

