<template>
  <div class="container center_al" id="login">

    <form role="form" v-on:submit.prevent="logar">
      <div class="alert alert-warning" v-if="showErrorAlertComputed">
        {{ errorMsg }}
      </div>

      <div class="form-group">
        <GoogleLogin :callback="callback"/>
      </div>
      <div class="form-group">
        <button @click="logout">Logout</button>
      </div>

    </form>
  </div>
</template>

<script>
import axios from 'axios';
import { decodeCredential, googleSdkLoaded } from 'vue3-google-login'

export default {
  name: 'Login',
  data() {
    return {
      usuario : "",
      senha : "",
      showErrorAlert: false,
      errorMsg: ""
    }
  },
  computed:{
    showErrorAlertComputed: {
      get(){
        return this.showErrorAlert;
      }
    }
  },
  methods:{
     async logout(){
      googleSdkLoaded((google) => {
        if (this.$cookies.isKey('user_session')) {
          const user_session = this.$cookies.get('user_session');
          console.log(user_session);
          this.$cookies.remove('user_session');
          google.accounts.id.revoke(user_session.email, done => {
            if (done.error){
              alert("Usuário não está logado");
            }
            if (done.successful){
              alert("Usuário deslogado com sucesso");
              window.location.href = "/";
            }
          });
        }
      });
    },
    callback(response){
      const userGoogleCredential = {
        credential: response.credential
      }
      const userData = decodeCredential(response.credential);
      // console.log(response.credential);
      axios.post(this.$store.state.baseUrl+'/login', userGoogleCredential)
        .then((res) => {
          this.$cookies.set(
            "user_session",
             res.data,
             60*60*24,
             null,
             null,
             true,
             'LAX');
          this.$router.push({ name: 'Home'});
        })
        .catch((error) => {
          // Removendo a credencial do usuário caso ele não consiga logar
          googleSdkLoaded((google) => {
            console.log('Removendo a credencial do usuário caso ele não consiga logar', userData.email);
            google.accounts.id.revoke(userData.email, done => {
              console.log('ceredencial removida: ', done, userData.email);
            });
          });

          console.log('Erro interno do servidor',error);
          switch (error.response.status) {
            case 401: {
              this.showErrorAlert = true;
              this.errorMsg = error.response.data.error
            }
            case 500: {
              this.showErrorAlert = true;
              this.errorMsg = error.response.data.error
            }
            default: {
              this.showErrorAlert = true;
              console.log('Erro interno do servidor',error);
              this.errorMsg = error.response.data
            }
          }

        });
    }
  }
}
</script>

<style scoped>
#login {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.5);
  border-radius: 5px;
  padding: 15px;
  background-color: rgb(255,255,255);
}
@media screen and (max-width: 400px) {
  #login {
    width: 90%;
  }
}
@media screen and (min-width: 401px) and (max-width: 799px) {
  #login {
    width: 75%;
  }
}
@media screen and (min-width: 800px) and (max-width: 1299px) {
  #login {
    width: 50%;
  }
}
@media screen and (min-width: 1300px) {
  #login {
    width: 30%;
  }
}
.form-group{
  margin: 12px;
}
</style>
