<template>
  <div>
    <Navigation/>
    <div class="main_container">
      <TradeForm/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Trades',
  components: {
    'Navigation': require('../components/navigation/navigation.vue').default,
    'TradeForm': require('../components/trades/tradeForm.vue').default
  }
}
</script>