body{
  overflow-y: scroll !important;
}

.baseForms {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-left: 2%;
  margin-bottom: 200px;
  width: 95%;
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.5);
  border-radius: 3px;
  padding: 25px;
  background-color: rgb(255,255,255);
}

.form-group{
  margin: 12px;
}

.center_al{
  align-content: center;
}

.main_container{
  margin-top: 50px;
  margin-bottom: 60px;
}

.list-items-box{
  border-top: 1px solid rgb(200,200,200);
  font-size: 13px;
}

.text-bold{
  font-weight: bold;
}

.graph-container{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 5%;
  width: 90%;
}

.graph-box{
  margin-top: 10px;
  background-color: rgb(255,255,255);
  box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
  padding: 3%;

}

.tp_trans_buy{
  color: #a52a2a;
}

.tp_trans_sell{
  color: #008000;
}

.cotacao_btc{
  color: rgb(255,255,255);
  font-family: 'Arial';
  font-size: 13px;
}

.thead-dark{
  background-color: #34353C;
  color: #FFF;
  font-size: 13px;
}