<template>
  <div class="card mb-2" style="width: 17rem;">
    <div class="card-header">
      <div class="row">
        <div class="col-2">
          <img :src="logo" alt="Logo" style="width: 25px"/>
        </div>
        <div class="col-8">
          <span class="card-title"> {{ nome }} - {{ codigo }}</span>
        </div>
        <div class="col-2">
          <router-link :to="{ name : 'AtivoDetalhe', params: { id: id,  symbol: codigo, nome: nome }}">
            <img src="../../assets/img/info_icon.png" alt="Logo" style="width: 25px"/>
          </router-link>
        </div>
      </div>
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <span>Quantidade: {{ qtde }}</span>
        </li>
        <li class="list-group-item">
          <span>Valor Investido: {{ formatCurrencies('USD',Math.abs(this.valor_investido)) }}</span>
        </li>
        <li class="list-group-item">
          <span v-if="!render">Valor Atual: {{ formatCurrencies('USD',this.valor_atual) }} </span>
          <span v-if="render">Valor Atual: {{ formatCurrencies('USD',this.simulaValorTotal) }}</span>
        </li>
        <li class="list-group-item">
          <span>Valor Médio Compra: {{ formatCurrencies('USD', Math.abs(this.valor_medio_compra)) }}</span>
        </li>
        <li class="list-group-item">
          <span :class="tipo_ultima_negociacao">Última Negociação: {{ formatCurrencies('USD', this.ultima_negociacao) }}</span>
        </li>
        <li class="list-group-item">
          <span>Market Cap: {{ formatMarketCap(this.market_cap) }}</span>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-10">
              <span style="color: #A8840F">Cotação Atual: {{ formatCurrencies('USD',this.cotacaoAtual) }}</span>
            </div>
            <div class="col-2">
              <img src="../../assets/img/edit_icon.png" alt="Logo" style="width: 25px" @click="showEdit"/>
            </div>
          </div>
        </li>
        <li class="list-group-item" v-if="render">
          <span>Cotação Simul.:</span>
          <input class="input-nova-cotacao" type="number" step="0.001" v-model="cotacao"/>
        </li>
        <li class="list-group-item">
          <div :class="signal" role="alert" style="text-align: center">
            <span class="alert-heading">{{ variance }} %</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>

export default{
  name: "Card",
  data(){
    return {
      render: false
    }
  },
  props: {
    id:Number,
    nome: String,
    codigo: String,
    logo: String,
    valor_medio_compra: Number,
    qtde: Number,
    valor_investido: Number,
    valor_atual: Number,
    market_cap: Number,
    stopLoss: Number,
    alvo: Number,
    cotacao: Number,
    variance: Number,
    tp_trans:String,
    ultima_negociacao:Number
  },
  computed : {
    cotacaoAtual:{
      get(){
        return this.cotacao;
      }
    },
    simulaValorTotal(){
      return this.qtde * this.cotacao;
    },
    signal (){
      if (this.variance >=0){
        return "alert alert-success";
      }else if (this.variance < 0 && this.variance > -50 ){
        return "alert alert-warning";
      }else{
        return "alert alert-danger";
      }
    },
    tipo_ultima_negociacao (){

      if (this.tp_trans == "s"){
        return "tp_trans_sell";
      }else{
        return "tp_trans_buy";
      }
    }
  },
  methods:{
    showEdit(){
      this.render = !this.render;
    }
  }
}

</script>

<style scoped>
span{
  font-size: 12px;
}
.input-nova-cotacao:focus{
  outline: none !important;
  box-shadow: inset 0px 1px 3px rgba(28, 150, 181,0.5);
}
.input-nova-cotacao{
  width: 50%;
  height: 25px;
  border: none;
  margin-left: 5px;
  font: 'Arial';
  font-size: 12px;
  box-shadow: inset 0px 1px 3px rgba(0,0,0,0.5);
  border-radius: 2px;
}
.card-title{
  font-size: 14px !important;
  font-weight: bolder;
}
</style>