<template>
  <div class="container">
    <div class="row">
      <div class="col" v-for="(stock, index) in stocks" :key="index">
        <Card
            :id="stock.AtivoId"
            :nome="stock.nome"
            :codigo="stock.codigo"
            :logo="stock.logo"
            :valor_medio_compra="stock.valor_medio_compra"
            :qtde="stock.qtde"
            :valor_investido="stock.valor_investido"
            :valor_atual="stock.valor_atual"
            :stopLoss="stock.stopLoss"
            :alvo="stock.alvo"
            :market_cap="stock.marketCap"
            :cotacao="stock.preco"
            :variance="stock.variance"
            :tp_trans="stock.tp_trans"
            :ultima_negociacao="stock.ultima_negociacao"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Card from './card.vue';
import http from '@/services/http.js';

export default{
  name: "overview",
  components: {
    Card
  },
  data(){
    return {
      stocks : []
    }
  },
  async created() {
    await this.updateQuotes();
  },
  methods: {
    async updateQuotes (){
      const axiosInstance = http(this);
      const response = await axiosInstance.get('/api/trades/getOverview');
      let stocksFiltred = [];
      for ( let index in response.data[0] ){
        const stock = response.data[0][index];
        const variance = ((Math.abs(stock.preco) / Math.abs(stock.valor_medio_compra)) -1) * 100;
        if ( isFinite(variance) && (variance > -90) ){
          stock.variance =  parseFloat(variance.toFixed(2));
          stocksFiltred.push(stock);
        }
      }
      stocksFiltred.sort((a,b) => {
        return b.variance - a.variance;
      });
      this.stocks = stocksFiltred;
    }
  }
}
</script>
<style scoped>
.container{
  max-width: 95% !important;
}
</style>