<template>
  <div class="baseForms">
    <form role="form" v-on:submit.prevent="save()">
      <div class="row">
        <input id="id" v-model="formData.id" type="hidden"/>
        <div class="col-md-4">
          <label for="qtde">Nome:</label>
          <input id="qtde" v-model="formData.nome" class="form-control form-control-sm"  type="text" required/>
        </div>
        <div class="col-md-4">
          <label for="preco">Descrição:</label>
          <input id="preco" v-model="formData.descricao" class="form-control form-control-sm"  type="text"/>
        </div>
        <div class="col-md-4">
          <label for="valor">Saldo UU$:</label>
          <input id="valor" v-model="formData.saldoDolar" class="form-control form-control-sm"  type="number" step="0.00000001"/>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Salvar</button>
      </div>
    </form>
    <div>
      <CarteirasList @carteira="getCarteira"/>
    </div>
  </div>
</template>

<script>
import http from '@/services/http.js';

export default {
  name: 'CarteiraForm',
  components:{
    'CarteirasList': require('./carteirasList.vue').default
  },
  data() {
    return {
      formData : {
        id: null,
        nome : '',
        descricao : '',
        saldoDolar: 0.0
      },
      id: null,
      operacao: 'create'
    }
  },
  methods:{
    save(){
      const axiosInstance = http(this);
      switch (this.operacao) {
        case "create": {
          axiosInstance.post("/api/carteira", this.formData)
            .then( resp => {
              if (resp.data == "ok"){
                alert("Carteira salva com sucesso!");
                this.$router.go();
              }else{
                alert("Erro ao salvar a Carteira");
                this.$router.go();
              }
            });
          break;
        }
        case "update": {
          axiosInstance.patch("/api/carteira", this.formData)
            .then( resp => {
              if (resp.data == "ok"){
                alert("Carteira salva com sucesso!");
                this.$router.go();
              }else{
                alert("Erro ao salvar a Carteira");
                this.$router.go();
              }
            });
        }
      }
    },
    //Método "emitido" na função editar em carteirasList.vue
    getCarteira(carteira){
        this.formData = carteira;
        this.operacao = 'update';
    }
  }
}
</script>
