<template>
  <div>
    <div class="row list-items-box" v-for="(carteira, index) in carteiras" :key="index">
      <div class="col-8">
        <div class="row">
          <span class="text-bold carteira-head">
            {{ carteira.nome }} - {{ carteira.descricao }}
          </span>
        </div>
        <div class="row">
          <div class="col-5">
            Saldo:
          </div>
          <div class="col-7 carteira-saldo">
            <span class="text-bold">{{ formatCurrencies('USD', carteira.saldoDolar) }}</span>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="row icones">
          <a href="#" @click="editCarteira(carteira.id)">
            <img src="../../assets/img/edit_icon.png" style="width: 30px"/>
          </a>
        </div>
        <div class="row icones">
          <a href="#" @click="delCarteira(carteira.id)">
            <img src="../../assets/img/delete_icon.png" style="width: 30px"/>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
  .carteira-head{
    color: rgb(100,100,100);
    font-size: 14px;
  }
  .carteira-saldo{
    text-align: right;
    color: rgb(60,60,60);
  }
  .icones{
    padding: 3px;
    text-align: right;
  }
</style>

<script>
import http from '@/services/http.js';

export default {
  name: 'carteirasList',
  data(){
    return {
      carteiras : []
    }
  },
  async created() {
    await this.getAllCarteiras();
  },
  methods: {
    async getAllCarteiras (){
      const axiosInstance = http(this);
      const response = await axiosInstance.get('/api/carteira/listAll');
      const allCarteiras = response.data;
      allCarteiras.forEach(element => {
        this.carteiras.push(element);
      });
    },
    async delCarteira(id){
      const axiosInstance = http(this);
      const deleteObj = JSON.parse(`{ "id" : ${id} }`);
      axiosInstance.delete("/api/carteira", { data: deleteObj } )
      .then( resp => {
        if (resp.data == "ok"){
          alert("Carteira removida com sucesso!");
          this.$router.go()
        }else{
          alert("Erro ao remover a carteira");
          this.$router.go()
        }
      });
    },
    editCarteira(id){
      var carteiraSelecionada = this.carteiras.filter(carteira => {
        return carteira.id === id
      });
      this.$emit('carteira',carteiraSelecionada[0]);
    }
  }
}
</script>
