<template>
  <div class="graph-box">
    <canvas class="graph-box" id="walletBalance"></canvas>
  </div>
</template>

<script>
import http from '@/services/http.js';

export default {
  name: 'AtivosVsDolar',
  data(){
    return {}
  },
  props:{
    options : Object
  },
  methods: {
    buildChart(saldoDolarCarteira, saldoDolarTrades){
      const ctx = document.getElementById('walletBalance');
      this.options.plugins.title.text = 'Balanceamento da Carteira';

      const saldoTotal = saldoDolarCarteira+saldoDolarTrades;
      const labels = ['Posição Trades', 'Posição Dolar'];
      const colors = ['rgb(15, 113, 180)','rgb(0, 97, 81)'];
      const chart = new Chart(ctx, {
          type: 'treemap',
          data: {
            datasets: [
              {
                tree: [ saldoDolarCarteira, saldoDolarTrades ],
                backgroundColor: (ctx) => {
                  return colors[ctx.dataIndex];
                },
                borderWidth:1,
                labels: {
                  display: true,
                  align: 'center',
                  position: 'middle',
                  overflow: 'fit',
                  font: {
                    family: 'Arial',
                    size: '16px'
                  },
                  formatter: (ctx) => {
                    const percent = (ctx.raw.v / saldoTotal * 100).toFixed(2) + ' %';
                    return  [labels[ctx.dataIndex], this.formatCurrencies('USD', ctx.raw.v), percent];
                  }
                }
              }
            ]
          },
          options: this.options
      });
    },
    randomNum(){
      return Math.floor(Math.random() * 255);
    }
  },
  async mounted() {
    const axiosInstance = http(this);
    // let values = [];
    // let labels = ['Posição Dolar', 'Posição Trades'];
    // let colors = ['rgb(0, 97, 81)','rgb(15, 113, 180)'];
    // let datasets = []

    const saldoDolarCarteira = await axiosInstance.get("/api/carteira/getSaldoDolarCarteira");
    const saldoDolarTrades = await axiosInstance.get("/api/carteira/getSaldoDolarTrades");
    // datasets.push();

    this.buildChart(saldoDolarCarteira.data.total, saldoDolarTrades.data.total);
  }
}
</script>

