<template>
  <div class="graph-box">
    <canvas class="graph-box" id="stockDistribution"></canvas>
  </div>
</template>

<script>
import http from '@/services/http.js';

export default {
  name: 'DistribuicaoAtivos',
  data(){
    return {}
  },
  props:{
    options : Object
  },
  methods: {
    buildChart(labels, values, colors, saldoTotal){
      const ctx = document.getElementById('stockDistribution');
      const chart = new Chart(ctx, {
          type: 'treemap',
          data: {
            datasets:[{
              tree: values,
              backgroundColor: (ctx) =>{
                return colors[ctx.dataIndex]
              },
              borderWidth:1,
              labels: {
                display: true,
                align: 'center',
                position: 'middle',
                overflow: 'fit',
                font: {
                  family: 'Arial',
                  size: '16px'
                },
                formatter: (ctx) => {
                  const percent = (ctx.raw.v / saldoTotal * 100).toFixed(2) + ' %';
                  return  [labels[ctx.dataIndex], this.formatCurrencies('USD', ctx.raw.v), percent];
                }
              }
            }]
          },
          options: {
            plugins: {
              title: {
                text: 'Distribuição dos Ativos',
                display: true,
                font:{
                  size: '18px'
                }
              },
              legend: {
                display: false
              },
              tooltip: {
                enabled: true,
                callbacks: {
                  label: function(ctx) {
                    const percent = (ctx.raw.v / saldoTotal * 100).toFixed(2) + ' %';
                    return  [labels[ctx.dataIndex], 'US$ ' + ctx.raw.v.toFixed(2), percent];
                  }
                }
              }
            }
          }
      });
    },
    randomNum(){
      return Math.floor(Math.random() * 255) + 50;
    }
  },
  async mounted() {
    const axiosInstance = http(this);
    const response = await axiosInstance.get('/api/trades/getOverview');
    const stocks = response.data[0];
    stocks.sort((a,b) => {
      return b.valor_atual - a.valor_atual;
    })
    let labels = [];
    let values = [];
    let colors = [];
    let saldoTotal = 0;
    stocks.forEach(stock => {
      labels.push(stock.codigo);
      values.push(stock.valor_atual);
      saldoTotal += stock.valor_atual;
      colors.push('rgb(' +this.randomNum() + ','+ this.randomNum() +','+ this.randomNum() +')');
    });
    this.buildChart(labels, values, colors, saldoTotal);
  }
}
</script>
