<template>
  <div class="graph-box">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Código </th>
          <th scope="col">Nome </th>
          <th scope="col">Qtde </th>
          <th scope="col">Valor Investido </th>
          <th scope="col">Valor Atual </th>
          <th scope="col">Preço Médio </th>
          <th scope="col">Preço </th>
          <th scope="col">Percentual </th>
        </tr>
      </thead>
      <tbody>
        <tr class="list-items-box" v-for="(ativo, index) in ativos" :key="index">
          <td> <img :src=ativo.logo width="25"></td>
          <td>{{ ativo.codigo }}</td>
          <td>{{ ativo.nome }}</td>
          <td>{{ ativo.qtde }}</td>
          <td>{{ ativo.valorInvestido }}</td>
          <td>{{ ativo.valorAtual }}</td>
          <td>{{ ativo.valor_medio_compra }}</td>
          <td>{{ ativo.preco }}</td>
          <td>{{ ativo.percentFormated }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import http from '@/services/http.js';

export default {
  name: 'ListPositions',
  data(){
    return {
      ativos: []
    }
  },
  props:{
    options : Object
  },
  methods: {
    randomNum(){
      return Math.floor(Math.random() * 255) + 50;
    }
  },
  async mounted() {
    const axiosInstance = http(this);
    const response = await axiosInstance.get('/api/trades/getOverview');
    const stocks = response.data[0];
    console.log(stocks);
    let saldoTotal = 0;
    stocks.forEach(stock => {
      this.ativos.push({
        logo: stock.logo,
        codigo: stock.codigo,
        nome: stock.nome,
        valorAtual: stock.valor_atual,
        valorInvestido: stock.valor_investido,
        valorInvestidoCompras: stock.valor_investido_compras,
        valor_medio_compra: stock.valor_medio_compra,
        preco: stock.preco,
        qtde: stock.qtde
      })
      saldoTotal += stock.valor_atual;
    });

    this.ativos.forEach(ativo => {
      ativo.percent = (ativo.valorAtual / saldoTotal * 100).toFixed(2);
      ativo.percentFormated = (ativo.valorAtual / saldoTotal * 100).toFixed(2) + ' %';
      ativo.valorAtual = this.formatCurrencies('USD', ativo.valorAtual);
      ativo.valorInvestido = this.formatCurrencies('USD', ativo.valorInvestido);
      ativo.valorInvestidoCompras = this.formatCurrencies('USD', ativo.valorInvestidoCompras);
      ativo.valor_medio_compra = this.formatCurrencies('USD', ativo.valor_medio_compra);
      ativo.preco = this.formatCurrencies('USD', ativo.preco);
      ativo.qtde = ativo.qtde;
    });

    this.ativos.sort((a, b) =>{
      return b.percent - a.percent;
    });

  }
}
</script>
