<template>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid">
     <span>Cotação Dólar: {{ dolarQuoteFormated }}</span>
     <span>Saldo Real:  {{ brlBalance }}</span>
     <span>Saldo Dólar:  {{ dolarBalanceFormated }}</span>
     <span>Posição Carteira:  {{ dolarCarteiraFormated }}</span>
     <span>Posição Ativos:  {{ dolarTradesFormated }}</span>
     <span>Variação:  {{ varicaoCarteira }}</span>
    </div>
  </nav>
</template>

<script>
import http from '@/services/http.js';
import axios from 'axios';
import VueJwtDecode from 'vue-jwt-decode';

export default {
  name: 'bottonBar',
  data(){
    return {
      dolarBalance: 0,
      dolarQuote: 0,
      dolarCarteira: 0,
      dolarTrades: 0,
      investimentoInicial: 0
    }
  },
  computed: {
    //formatCurrencies disponivel em src/global/functions
    brlBalance: {
      get(){
        const brlBal = this.dolarQuote * this.dolarBalance;
        return this.formatCurrencies('BRL', brlBal);
      }
    },
    dolarBalanceFormated: {
      get(){
        return this.formatCurrencies('USD', this.dolarBalance);
      }
    },
    dolarQuoteFormated: {
      get(){
        return this.formatCurrencies('BRL', this.dolarQuote);
      }
    },
    dolarCarteiraFormated: {
      get(){
        return this.formatCurrencies('USD', this.dolarCarteira);
      }
    },
    dolarTradesFormated: {
      get(){
        return this.formatCurrencies('USD', this.dolarTrades);
      }
    },
    varicaoCarteira: {
      get(){
        const variacao = (( this.dolarQuote * this.dolarBalance ) / this.investimentoInicial * 100).toFixed(2);
        return variacao+'%';
      }
    }
  },
  created() {
    const userSession = VueJwtDecode.decode(this.$cookies.get('user_session'));
    const axiosInstance = http(this);
    axiosInstance.get("/api/carteira/getSaldoDolar")
       .then(balanceTotal => {
          const total = parseFloat(balanceTotal.data.total);
          this.dolarBalance = total;
       });
    axiosInstance.get("/api/carteira/getSaldoDolarCarteira")
       .then(balanceTotal => {
          const total = parseFloat(balanceTotal.data.total);
          this.dolarCarteira = total;
       });
    axiosInstance.get("/api/carteira/getSaldoDolarTrades")
       .then(balanceTotal => {
          const total = parseFloat(balanceTotal.data.total);
          this.dolarTrades = total;
       });

    axiosInstance.get("/api/carteira/getSaldoDolarTrades")
       .then(balanceTotal => {
          const total = parseFloat(balanceTotal.data.total);
          this.dolarTrades = total;
       });
    axiosInstance.get("/api/carteira/getInvestimentoInicial", { params: { userId: userSession.id }})
       .then(resp => {
          const total = parseFloat(resp.data.investimentoInicial);
          this.investimentoInicial = total;
       });
    axios.get('https://economia.awesomeapi.com.br/last/USD-BRL')
      .then( dolarQuoteResp => {
        let dolarQuote = dolarQuoteResp.data.USDBRL ? dolarQuoteResp.data.USDBRL.bid : dolarQuoteResp.data.USD.bid;
        dolarQuote = parseFloat(dolarQuote);
        this.dolarQuote = dolarQuote;
      });

  }
}
</script>
<style scoped>
span{
  font-size: 14px;
  color: rgb(200,200,250);
}
</style>