<template>
  <div>
    <titlebar/>
    <sidebar/>
    <botton-bar/>
  </div>
</template>

<script>
export default {
  name: 'navigation',
  components: {
    titlebar: require('./titlebar.vue').default,
    sidebar: require('./sidebar.vue').default,
    bottonBar: require('./bottonbar.vue').default
  }
}
</script>
