<template>
  <div>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Bem Vindo {{ nomeCompleto }} </h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <ul class="list-group">
        <li><router-link class="list-group-item" to="/home">Visão Geral</router-link></li>
        <li><router-link class="list-group-item" to="/ativosPosicao">Posição dos Ativos</router-link></li>
        <li><router-link class="list-group-item" to="/trades">Trades</router-link></li>
        <li><router-link class="list-group-item" to="/ativos">Ativos</router-link></li>
        <li><router-link class="list-group-item" to="/carteiras">Carteiras</router-link></li>
        <li><a class="list-group-item" @click="logout" style="cursor: pointer;">Sair</a></li>
      </ul>

    </div>
  </div>
</template>

<script>
import VueJwtDecode from 'vue-jwt-decode';
import http from '@/services/http.js';

export default {
  name: 'sideBar',
  computed: {
    nomeCompleto : {
      get(){
        const userSession = VueJwtDecode.decode(this.$cookies.get('user_session'));
        const splitName = userSession.nomeCompleto.split(' ');
        return splitName[0];
      }
    }
  },
  methods: {
    async logout(){
      if (this.$cookies.isKey('user_session')) {
        const userSession = this.$cookies.get('user_session');
        const axiosInstance = http(this);
        axiosInstance.patch('/logout', {
          auth_token: userSession
        });
        this.$cookies.remove('user_session');
        window.location.href = "/";
      }
    }
  }
}
</script>

