<template>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" data-bs-toggle="offcanvas" href="#offcanvasExample" >
        <img src="../../assets/img/menu_hamb.png" id="h_menu">
      </a>
      <div>
        <span class="cotacao_btc">BTC: {{ btcPrice }}</span> &nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary" @click="update_quotes" style="margin-right: 5px; font-size: 14px;">Atualizar Cotações</a>
      </div>
    </nav>
</template>

<script>
import http from '@/services/http.js';
import axios from 'axios';

export default {
  name: 'titleBar',
  data(){
    return {
      btcPrice: 0
    }
  },
  methods:{
    async update_quotes(){
      const axiosInstance = http(this);
      const response = await axiosInstance.get("/api/ativo/updateQuotes");
      if (response.data.updated == "ok"){
        this.$router.go();
      }
    }
  },
  created() {
    axios.get('https://api.coinbase.com/v2/exchange-rates?currency=BTC').
    then((resp) => {
      this.btcPrice = this.formatCurrencies('USD', resp.data.data.rates.USD);
    });

  }
}
</script>

<style scoped>
  #h_menu {
    width: 35px;
  }
  .navbar{
    padding: 0px !important;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99;
  }

</style>
